@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background: #f1fcf4;
}
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Quicksand", sans-serif; 
}